:root {
  --purple: #cdb4db;
  --blue: #bde0fe;
  --dark-blue: #A2D2FF;
  --pink: #ffafcc;
}

@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.6, 0.6);
  }
  70% {
    transform: scale(1, 1);
  }
}

body {
  margin: 0;
}

nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2.5rem;
  background: var(--purple);
}

#shop-items {
  padding: 0 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
  margin: 5rem 0;
}

#submit {
  border: 2px solid var(--purple);
  border-radius: 30%;
  background-color: transparent;
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--purple);
  cursor: pointer;
}

.top-10 {
  margin-top: 10rem !important;
}

.logo {
  width: 5rem;
  margin-right: 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto 2rem;
}

.menu-item {
  margin-right: 1rem;
}

.banner {
  width: 100%;
  height: 10rem;
  background-image: url("./public/269750358_1360937634326789_4396237104973447930_n.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Montserrat", sans-serif;
  color: var(--blue);
  text-align: right;
  padding-top: 1rem;
  padding-right: 1rem;
}

.item {
  border-radius: 50%;
  height: 17rem;
  width: 17rem;
  object-fit: cover;
  box-shadow: 0;
  transition: box-shadow 0.5s;
}

.item:hover {
  animation: zoom 0.5s ease-out;
  box-shadow: 0 0 3rem var(--purple);
}

.margin-auto {
  margin: auto;
}

.about {
  margin: 2.5rem 2.5rem 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
}

.about h3,
.contact h3 {
  font-family: "Montserrat", sans-serif;
  color: var(--pink);
  font-weight: 600;
  font-size: 1.5rem;
}



/*-----------------------*/

.card-img-top {
  object-fit: cover;
}

.carousel-inner {
  height: 15rem;
}

.bg-purple {
  background-color: var(--purple);
}

.nav-pills .nav-link.active {
  color: white !important;
  background-color: var(--purple) !important;
}

.nav-link {
  color: var(--purple) !important;
}

.btn-primary {
  --bs-btn-bg: var(--blue) !important;
  --bs-btn-hover-bg: var(--dark-blue) !important;
}

.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  background: var(--dark-blue);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #CDB4DB, #FFC8DD, #FFAFCC, #BDE0FE, #A2D2FF);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dark-blue);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

